LibraryMgmt/LibraryMgmt/Service References/ServiceReference/ProjectLibraryService.Reports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectLibraryService.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectLibraryService.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Part3Report">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataCollection" nillable="true" type="q1:ArrayOfKeyValueOfintPart3ReportData3kVlALYg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part3Report" nillable="true" type="tns:Part3Report" />
  <xs:complexType name="Part3ReportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BooksLeft" type="xs:int" />
      <xs:element minOccurs="0" name="OutBooks" type="xs:int" />
      <xs:element minOccurs="0" name="RegisteredBooks" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part3ReportData" nillable="true" type="tns:Part3ReportData" />
</xs:schema>