LibraryMgmt/LibraryMgmt/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProjectLibraryService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProjectLibraryService.Reports" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetRmfList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmfListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetRmfListResult" nillable="true" type="q1:ArrayOfRmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRmf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="newRmf" nillable="true" type="q2:Rmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRmfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRmfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRmf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRmfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRmfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRmf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="rmfObj" nillable="true" type="q3:Rmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRmfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRmfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmfById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRmf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmfByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetRmfByIdResult" nillable="true" type="q4:Rmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastIndex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastIndexResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmfByDocId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmfByDocIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetRmfByDocIdResult" nillable="true" type="q5:Rmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastLastInvNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastLastInvNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastLastInvNrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInRmf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInRmfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetInRmfResult" nillable="true" type="q6:ArrayOfRmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutRmf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutRmfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetOutRmfResult" nillable="true" type="q7:ArrayOfRmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAnualReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAnualReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GenerateAnualReportResult" nillable="true" type="q8:AnualReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePart3Report">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePart3ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProjectLibraryService.Reports" minOccurs="0" name="GeneratePart3ReportResult" nillable="true" type="q9:Part3Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMultipleRmf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="l" nillable="true" type="q10:ArrayOfRmf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMultipleRmfResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q11:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="book" nillable="true" type="q12:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksByRmfId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rmfId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksByRmfIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetBooksByRmfIdResult" nillable="true" type="q13:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="book" nillable="true" type="q14:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnHands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnHandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetAllOnHandsResult" nillable="true" type="q15:ArrayOfOnHand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOnHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="onHand" nillable="true" type="q16:OnHand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOnHandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="book" nillable="true" type="q17:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetBookCodesResult" nillable="true" type="q18:ArrayOfBookCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetUsersResult" nillable="true" type="q19:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q20:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="user" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="user" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="user" nillable="true" type="q23:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="registration" nillable="true" type="q24:OnHand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnHands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="user" nillable="true" type="q25:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnHandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetOnHandsResult" nillable="true" type="q26:ArrayOfOnHand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookCodesOnHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="book" nillable="true" type="q27:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookCodesOnHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetBookCodesOnHandResult" nillable="true" type="q28:ArrayOfOnHand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookCodesNotOnHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="book" nillable="true" type="q29:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookCodesNotOnHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetBookCodesNotOnHandResult" nillable="true" type="q30:ArrayOfBookCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOwnedBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOwnedBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetUserOwnedBooksResult" nillable="true" type="q31:ArrayOfBookCodeOwned" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationPrimitive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookCode" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expiresIn" type="q32:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationPrimitiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="bookCode" nillable="true" type="q33:BookCode" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="user" nillable="true" type="q34:User" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expiresIn" type="q35:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookReservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpiredReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpiredReservationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservedBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservedBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetReservedBooksResult" nillable="true" type="q36:ArrayOfReservedBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GetReservationsResult" nillable="true" type="q37:ArrayOfReservedBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopReservationSatelite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopReservationSateliteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartReservationSatelite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartReservationSateliteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationSateliteState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationSateliteStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReservationSateliteStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBookReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBookReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ProjectLibraryService" minOccurs="0" name="GenerateBookReportResult" nillable="true" type="q38:BooksReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>